* text=auto !eol
/ChangeLog.txt -text
/DiskInfo.cpp -text
/DiskInfo.h -text
/INSTALL -text
/LICENSE -text
/NullGet.ico -text
/NullGet.rc -text
/NullGet_resource.rc -text
/README -text
Resources/favicon.ico -text
Resources/karia2.png -text
Resources/nullget-1.png -text
/aboutdialog.cpp -text
/aboutdialog.h -text
/aboutdialog.ui -text
/abstractstorage.cpp -text
/abstractstorage.h -text
/ariaman.cpp -text
/ariaman.h -text
/batchjobmandlg.cpp -text
/batchjobmandlg.h -text
/batchjobmandlg.ui -text
browser/iegeturl.html -text
browser/opera_go_to_page.dat -text
/catmandlg.cpp -text
/catmandlg.h -text
/catmandlg.ui -text
/catpropdlg.cpp -text
/catpropdlg.h -text
/catpropdlg.ui -text
/columnsmandlg.ui -text
/dircompletermodel.cpp -text
/dircompletermodel.h -text
/dlrules.cpp -text
/dlrules.h -text
/dlrules.ui -text
doc/(un)compress.txt -text
doc/66985.user.js -text
doc/C++.txt -text
doc/MPC.txt -text
doc/Torrent[!!-~]获取文件流程.odg -text
doc/all.txt -text
doc/aria2-1.9.2_redirect_no_cookie_no_refer.patch -text
doc/aria2c.txt -text
doc/browsers.txt -text
doc/flashget.txt -text
doc/https.txt -text
doc/metafile.txt -text
doc/qt[!!-~]note.txt -text
doc/thunder.txt -text
/dropzone.cpp -text
/dropzone.h -text
/genmk.bat -text
/genqm.bat -text
/genqm.sh -text
/gents.bat -text
/gents.sh -text
/getopt_pp.cpp -text
/getopt_pp.h -text
/getopt_pp_standalone.h -text
/hash.cpp -text
/hash.h -text
icons/applications-games.png -text
icons/arrow-down.png -text
icons/arrow-up.png -text
icons/bookmarks.png -text
icons/configure.png -text
icons/document-multiple.png -text
icons/document-open-folder.png -text
icons/document-properties.png -text
icons/edit-find.png -text
icons/folder-documents.png -text
icons/folder-sound.png -text
icons/folder-tar.png -text
icons/folder-video.png -text
icons/folder.png -text
icons/go-down-search.png -text
icons/list-add.png -text
icons/list-remove.png -text
icons/media-playback-pause.png -text
icons/media-playback-start.png -text
icons/network-connect.png -text
icons/network-disconnect.png -text
icons/preferences-system.png -text
icons/status/.directory -text
icons/status/dialog-error.png -text
icons/status/flag-green.png -text
icons/status/list-remove.png -text
icons/status/media-playback-pause.png -text
icons/status/media-playback-start.png -text
icons/status/task-complete.png -text
icons/status/unknown.png -text
icons/status/user-away.png -text
icons/system-run.png -text
icons/system-shutdown.png -text
icons/user-trash.png -text
images/woodbackground.png -text
images/woodbutton.png -text
/instantspeedhistogramwnd.cpp -text
/instantspeedhistogramwnd.h -text
/karia2.pro -text
/karia2.qrc -text
/labspace.cpp -text
/labspace.h -text
/labspace.ui -text
libmaia/Changelog -text
libmaia/README -text
libmaia/examples/README -text
libmaia/examples/client/client.cpp -text
libmaia/examples/client/client.h -text
libmaia/examples/client/client.pro -text
libmaia/examples/client/client_main.cpp -text
libmaia/examples/server/server.cpp -text
libmaia/examples/server/server.h -text
libmaia/examples/server/server.pro -text
libmaia/examples/server/server_main.cpp -text
libmaia/maia.pro -text
libmaia/maiaFault.cpp -text
libmaia/maiaFault.h -text
libmaia/maiaObject.cpp -text
libmaia/maiaObject.h -text
libmaia/maiaXmlRpcClient.cpp -text
libmaia/maiaXmlRpcClient.h -text
libmaia/maiaXmlRpcServer.cpp -text
libmaia/maiaXmlRpcServer.h -text
libmaia/maiaXmlRpcServerConnection.cpp -text
libmaia/maiaXmlRpcServerConnection.h -text
libng/bencode.c -text
libng/bencode.h -text
libng/html-parse.c -text
libng/html-parse.h -text
libng/md5.c -text
libng/md5.h -text
libng/qtmd5.cpp -text
libng/qtmd5.h -text
/main.cpp -text
/mimetypeshash.cpp -text
/mmex.cpp -text
/mmex.h -text
/norwegianwoodstyle.cpp -text
/norwegianwoodstyle.h -text
/nullcontroller.cpp -text
/nullcontroller.h -text
/nullget.cpp -text
/nullget.h -text
/nullget.ui -text
/nullgetapplication.cpp -text
/nullgetapplication.h -text
/optionmanager.cpp -text
/optionmanager.h -text
/pmwmk.bat -text
/preferencesdialog.cpp -text
/preferencesdialog.h -text
/preferencesdialog.ui -text
/proxyinfodialog.ui -text
qtsingleapplication/QtLockedFile -text
qtsingleapplication/QtSingleApplication -text
qtsingleapplication/qtlocalpeer.cpp -text
qtsingleapplication/qtlocalpeer.h -text
qtsingleapplication/qtlockedfile.cpp -text
qtsingleapplication/qtlockedfile.h -text
qtsingleapplication/qtlockedfile_unix.cpp -text
qtsingleapplication/qtlockedfile_win.cpp -text
qtsingleapplication/qtsingleapplication.cpp -text
qtsingleapplication/qtsingleapplication.h -text
/radarscanner.cpp -text
/radarscanner.h -text
/resource.h -text
/resourcemonitor.cpp -text
/resourcemonitor.h -text
/rulesmandlg.cpp -text
/rulesmandlg.h -text
/rulesmandlg.ui -text
/seedfilemodel.cpp -text
/seedfilemodel.h -text
/seedfilesdialog.cpp -text
/seedfilesdialog.h -text
/seedfilesdialog.ui -text
/segmentlogmodel.cpp -text
/segmentlogmodel.h -text
/serverswitcher.cpp -text
/serverswitcher.h -text
/skypeclientwnd.cpp -text
/skypeclientwnd.h -text
/skypeclientwnd.ui -text
/sqlitecategorymodel.cpp -text
/sqlitecategorymodel.h -text
/sqlitesegmentmodel.cpp -text
/sqlitesegmentmodel.h -text
/sqlitestorage.cpp -text
/sqlitestorage.h -text
/sqlitetaskmodel.cpp -text
/sqlitetaskmodel.h -text
/storageexception.cpp -text
/storageexception.h -text
/storagefactory.cpp -text
/storagefactory.h -text
/task.cpp -text
/task.h -text
/taskballmapwidget.cpp -text
/taskballmapwidget.h -text
/taskcontroller.cpp -text
/taskcontroller.h -text
/taskinfodisgestwnd.cpp -text
/taskinfodisgestwnd.h -text
/taskinfodisgestwnd.ui -text
/taskinfodlg.cpp -text
/taskinfodlg.h -text
/taskinfodlg.ui -text
/taskitemdelegate.cpp -text
/taskitemdelegate.h -text
/taskqueue.cpp -text
/taskqueue.h -text
/taskservermodel.cpp -text
/taskservermodel.h -text
/torrentpeermodel.cpp -text
/torrentpeermodel.h -text
translations/nullget_en_US.qm -text
translations/nullget_en_US.ts -text
translations/nullget_zh_CN.qm -text
translations/nullget_zh_CN.ts -text
translations/nullget_zh_TW.qm -text
translations/nullget_zh_TW.ts -text
translations/qt_zh_CN.qm -text
translations/qt_zh_TW.qm -text
/utility.cpp -text
/utility.h -text
/walksitewnd.cpp -text
/walksitewnd.h -text
/walksitewnd.ui -text
/walksitewndex.cpp -text
/walksitewndex.h -text
/walksitewndex.ui -text
/webpagehostselectdlg.ui -text
/webpagelinkdlg.cpp -text
/webpagelinkdlg.h -text
/webpagelinkdlg.ui -text
/webpageurlinputdlg.ui -text
/xmlstorage.cpp -text
/xmlstorage.h -text
